<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
    <!-- NAV -->
    <nav class="relative container bg-slate-100 mx-auto p-6">
        <!-- Flex -->
        <div class="flex items-center justify-between">
            <!-- Logo  -->
            <div class="pt-2 font-bold uppercase">{{ app_name }}</div>

            <!-- Menu Items -->
            <div class="hidden md:flex space-x-6">
                <a href="#" class="hover:bg-slate-500 cursor-pointer">Pricing</a>
                <a href="#" class="hover:bg-slate-500 ">About Us</a>
                <a href="#" class="hover:bg-slate-500 ">Careers</a>
                <a href="#" class="hover:bg-slate-500 ">Community</a>
            </div>

            <!-- Button -->
            <a href=""
                class="hidden md:block p-3 px-6 pt-2 text-white bg-red-500 rounded-full baseline hover:bg-red-300">
                Login
            </a>

        </div>

        <!-- Hero Section -->
        <section>
            <!-- Flex Container -->
            <div
                class="container max-h-max  flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
                <!-- Left Item -->
                <div class="flex flex-col mb-32 md:w-full max-h-max  ">
                    <h1 class="max-w-full text-xl font-bold text-center md:text-2xl md:text-left ">
                        My Pods
                    </h1>


                    <table class="min-w-full text-left font-light border-spacing-1">
                        <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                                <th class="py-4 ">Pod</th>
                                <th class="py-4 ">Status</th>
                                <th class="py-4 ">Containers</th>
                                <th class="py-4 ">Service Account</th>
                                <th class="py-4 ">IP</th>
                                <th class="py-4 ">Node</th>
                            </tr>
                        </thead>
                        <tbody class="">

                            {% for item in data %}

                            <tr class="border-b dark:border-neutral-500 relative">
                                <td class="whitespace-nowrap py-2">{{ item.name }}</td>
                                {% if item.phase == 'Running' %}
                                    <td class="whitespace-nowrap py-2 text-green-700">{{ item.phase }}</td>
                                {% elif item.phase == 'Pending' %}
                                    <td class="absolute mx-auto top-[6px]"><span class="border-separate border-spacing-10 border border-slate-400 bg-yellow-400 text-white font-bold p-1 text-xs rounded-full">{{ item.phase }}</span></td>
                                {% else %}
                                    <td class="whitespace-nowrap py-2 text-red-700">{{ item.phase }}</td>
                                {% endif %}
                                <td class="whitespace-nowrap py-2">{{ item.containers }}</td>
                                <td class="whitespace-nowrap py-2">{{ item.sa }}</td>
                                <td class="whitespace-nowrap py-2">{{ item.ip }}</td>
                                <td class="whitespace-nowrap py-2">{{ item.node }}</td>
                                
                            </tr>


                            {% endfor %}

                        </tbody>
                    </table>


                </div>

            </div>
        </section>

    </nav>
</body>

</html>